.card {
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;

  .widget-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
  }

  .text-area {
    border-radius: 2rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.23);
  }

  .text-field {
    width: 100%;

    fieldset {
      border-radius: 2rem;
    }
  }

  .checkbox {
    display: block;
    padding: 0 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .submit-button {
    display: inline-flex;
  }

  // .submit-alert {
  // }
}
