.action-button {
  background: #fff;
  color: #f42f4a;
  border: 1px solid #f42f4a;
  display: flex;
  @media (min-width: 900px) {
    display: inline-flex;
  }
  margin: 0 auto;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 25px;
  transition: all 500ms;
  box-shadow: 0px 3px 1px -2px rgba(245, 115, 66, 0.2),
    0px 2px 2px 0px rgba(245, 115, 66, 0.14),
    0px 1px 5px 0px rgba(245, 115, 66, 0.12);

  &:hover {
    background: linear-gradient(to right, #f42f4a, #f57342, #f5b139);
    box-shadow: rgba(245, 115, 66, 0.2) 0px 8px 24px;
    border: 1px solid #fff;
    color: #fff;

    .icon-box {
      background: #fff;

      svg {
        fill: #f42f4a;
      }
    }
  }

  .icon-box {
    border-radius: 50%;
    background: linear-gradient(to right, #f42f4a, #f57342, #f5b139);
    display: flex;
    align-items: center;
    transition: all 500ms;
    margin-left: 10px;
    padding: 6px;

    svg {
      fill: #fff;
    }
  }
}
