.action-button {
  background: #fff;
  color: #f42f4a;
  border: 1px solid #f42f4a;
  display: flex;
  @media (min-width: 900px) {
    display: inline-flex;
  }
  margin: 0 auto;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 7.5px;
  transition: all 500ms;

  &:hover {
    background: linear-gradient(to right, #f42f4a, #f57342, #f5b139);
    border: 1px solid #fff;
    color: #fff;

    .icon-box {
      background: #fff;

      svg {
        fill: #f42f4a;
      }
    }
  }

  .icon-box {
    border-radius: 50%;
    background: linear-gradient(to right, #f42f4a, #f57342, #f5b139);
    display: flex;
    align-items: center;
    transition: all 500ms;
    margin-left: 10px;
    padding: 6px;

    svg {
      fill: #fff;
    }
  }
}
