.categories-widget {
  padding: 2rem;
  border-radius: 1rem;

  .widget-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
  }

  .link {
    margin: 0 10px 10px 0;
    font-size: .75rem;
    display: inline;
  }
}
