.recommendation-widget {
  padding: 2rem;
  border-radius: 1rem;

  .widget-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .recommendation {
      padding: 1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all 500ms;
      box-shadow: 0px 2px 1px -1px rgba(245, 115, 66, 0.2),
        0px 1px 1px 0px rgba(245, 115, 66, 0.14),
        0px 1px 3px 0px rgba(245, 115, 66, 0.12);

      &:hover {
        box-shadow: rgba(245, 115, 66, 0.2) 0px 8px 24px;
        cursor: pointer;
      }

      .image {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }

      .info {
        display: flex;
        flex-direction: column;
        font-weight: 300;

        .date {
          opacity: 0.6;
          font-size: 0.8rem;
        }
      }
    }
  }
}
